language: java
jdk:
  - oraclejdk11
python:
  - "3.6"
services: docker
before_install:
  - sudo apt-get update
  - sudo mkdir /SpringBootUdemy /SpringBootUdemy/upload
  - mvn -N io.takari:maven:wrapper
  - mvn clean package
script:
  - docker-compose build
before-deploy:
  - echo "${DOCKER_PASSWORD} | docker login --username ${DOCKER_USERNAME}"
deploy:
  provider: script
  script:
    docker tag rest-with-spring-boot-udemy:latest oakanderson/rest-with-spring-boot-udemy:$TRAVIS_JOB_ID;
    docker push oakanderson/rest-with-spring-boot-udemy;
  on:
    branch: master
after_success:
  - sudo apt-get -y install python3-pip python-dev awscli jq
  - export PATH=$PATH:$HOME/.local/bin
  - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $IMAGE_REPO_URL
  - docker tag rest-with-spring-boot-udemy:latest $IMAGE_REPO_URL:$TRAVIS_JOB_ID
  - docker push $IMAGE_REPO_URL:$TRAVIS_JOB_I
  - curl https://raw.githubusercontent.com/silinternational/ecs-deploy/master/ecs-deploy | sudo tee -a /usr/bin/ecs-deploy
  - sudo chmod +x /usr/bin/ecs-deploy
  - echo "AWS ECS-Deploy Setup is Configured"
  - ecs-deploy -c $CLUSTER_NAME -n $SERVICE_NAME -i $IMAGE_REPO_URL:$TRAVIS_JOB_ID -r $AWS_DEFAULT_REGION -t 240
notifications:
  email: false
